.detail {
    width: 600px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

i:hover {
    color: #3c3a3a;
}

.fa {
    margin-right: 14px;
    margin-top: 15px;
}

.table-padding {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #5e1272;
}

.back {
    margin-top: 20px;
    width: 120px !important;
    border-radius: 6px 6px 6px 6px !important;
}

.go-back {
    color: white;
    text-decoration: none;
}

.go-back:hover {
    color: white;
}

td {
    padding: 10px !important;
}

th {
    width: 100px;
    padding-top: 15px !important;
}

.input {
    width: 100%;
}

input:focus {
    outline: none;
}

.editFalse {
    border: solid 1px white;
}

.error {
    border: solid 1px red;
    border-radius: 3px;
}

.editTrue {
    border: solid 1px dimgray;
    border-radius: 3px;
}